$register-image: '/img/makeappointment.svg';
$login-image: '/img/login.svg';

@import './scss/sb-admin-2.scss';
@import '~@fortawesome/fontawesome-free/css/all.min.css';

main.bg-gradient-primary {
  height: 100vh;
  overflow-y: auto;
}
